
.spa {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.view, .views, .mass {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.scrub, .masssage {
    font-size: 1.5rem;
    font-weight: bold;
    color: #064E3B;
    text-align: center;
    margin-bottom: 1rem;
}

.logo12, .logo13, .logo15 {
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}


.logo13 {
    width: 230px;
}

.logo12 {
    width: 270px;
}

.logo15 {
    height: 330px;
}



@media (max-width: 768px) {
    .spa {
        flex-direction: column;
        align-items: center;
    }

    .logo12, .logo13, .logo15 {
        width: 90%;
        height: auto;
    }

    .scrub, .masssage {
        font-size: 1.2rem;
    }
}


@media (max-width: 480px) {
    .logo12, .logo13, .logo15 {
        width: 100%;
    }

    .scrub, .masssage {
        font-size: 1rem;
    }
}
